#about-me {
  color: #efe8e6;
  background-color: #161412;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #161412;
    z-index: -1;
    max-height: 507.9px;
    @media (max-width: 1400px) {
      display: none;
    }
  }

  & img {
    height: 11rem;
    padding-left: 5rem;
    @media (max-width: 1175px) {
      padding-left: 0;
    }
  }

  & .presentation {
    display: flex;
    @media (max-width: 1175px) {
      flex-direction: column;
    }
  }
  & strong {
    color: #48beff;
  }
}
