@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;700&family=Roboto:wght@400;700&display=swap');

@import './settings';

// import components styles
@import '../components/card/Card.scss';
@import '../components/footer/Footer.scss';
@import '../components/header/Header.scss';
@import '../components/LogoText/LogoText.scss';
@import '../components/skills-carousel/skills-carousel.scss';
@import '../components/project-card/ProjectCard.scss';
@import '../components/soft-skill-bubble/SoftSkillBubble.scss';
@import '../components/notification/Notification.scss';
@import '../components/loader/Loader.scss';

// import sections styles
@import '../sections/about-me/AboutMe.scss';
@import '../sections/banner/Banner.scss';
@import '../sections/contact/Contact.scss';
@import '../sections/formation/Formation.scss';
@import '../sections/good-practices/GoodPractices.scss';
@import '../sections/hard-skills/HardSkills.scss';
@import '../sections/my-projects/MyProjects.scss';
@import '../sections/social-media/SocialMedia.scss';
@import '../sections/soft-skills/SoftSkills.scss';
@import '../sections/tools/Tools.scss';

// import page styles
@import '../pages/Projects.scss';
@import '../pages/ErrorPage.scss';

:root {
  font-family: 'Roboto', sans-serif, Arial;
  font-weight: 400;
  font-size: $desktop-font-size;
  @media (max-width: $mobil) {
    font-size: $mobil-font-size;
  }

  color-scheme: light dark;
  color: $bg-color-dark;
  background-color: $bg-color-light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}

main {
  max-width: 1400px;
  margin: auto;
}

section {
  padding: 0 30px 3rem 30px;
}

h1 {
  font-family: 'Alegreya Sans SC', sans-serif, Arial;
  font-size: 6em;
  line-height: 1.1;
  font-weight: bold;
  margin: 0;
  @media (max-width: $mobil) {
    font-size: 3.2rem;
  }
}

h2 {
  font-family: 'Alegreya Sans SC', sans-serif, Arial;
  font-size: 2rem;
  text-align: center;
  padding: 3rem;
  margin: 0;
  @media (max-width: $mobil) {
    font-size: 1.5rem;
  }
}

h3 {
  font-family: 'Roboto', sans-serif, Arial;
  font-size: 1.8rem;
  text-align: start;
  padding: 0;
  margin: 0;
  font-weight: 400;
  @media (max-width: $mobil) {
    font-size: 1.3rem;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: $bg-color-light;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: 'Roboto', sans-serif, Arial;
  font-size: 1rem;
}

input,
textarea {
  background-color: white;
  font-family: 'Roboto';
  color: black;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     color: $bg-color-light;
//     background-color: $bg-color-dark;
//   }
// }
