.card {
  border-radius: 15px;
  padding: 2.5rem;
  width: 40%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s ease-out;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  border: 4px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: default;
  @media (max-width: $small-tablet) {
    width: 100%;
  }

  &:hover::before {
    animation: shine ease-in-out 4s infinite reverse;
  }

  &::before {
    content: '';
    position: absolute;
    top: -90%;
    height: 1000px;
    width: 30px;
    background: rgba(255, 255, 255, 0.3);
    filter: blur(5px);
    transform: rotate(25deg) translateX(-175px);
  }
  & img {
    height: 9rem;
    @media (min-width: $tablet) {
      height: 10rem;
    }
    @media (max-width: $mobil) {
      height: 7rem;
    }
  }
  & p {
    margin-bottom: 30px;
  }
}

.card-odd {
  &:hover {
    border: 4px solid $red-color;
    box-shadow: 0 0 17px $red-color, 0 0 17px $red-color inset;
  }
}
.card-even {
  &:hover {
    border: 4px solid $blue-color;
    box-shadow: 0 0 17px $blue-color, 0 0 17px $blue-color inset;
  }
}

@keyframes shine {
  0% {
    transform: rotate(25deg) translate(800px, 100px);
  }
  60% {
    transform: rotate(25deg) translate(800px, 100px);
  }
  80% {
    transform: rotate(25deg) translate(-300px);
  }
}
