#my-formation {
  color: #efe8e6;
  background-color: $bg-color-dark;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: $bg-color-dark;
    z-index: -1;
    height: 1045px;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  & h3 {
    font-family: 'Alegreya sans sc';
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  & span {
    font-weight: bold;
  }
  & a {
    display: block;
    width: 317px;
    padding: 15px 0;
    &:hover {
      text-decoration: none;
    }
    @media (max-width: $mobil) {
      width: 250px;
    }
  }
}

.vertical-timeline-element-date {
  color: white;
  opacity: 1 !important;
}

.glowable-button {
  text-align: center;
  position: relative;
  left: 65%;
  border-radius: 50px;
  font-family: 'Roboto';
  font-size: 1rem;
  border: 4px white solid;
  background-color: $bg-color-dark;
  color: white;
  margin-bottom: 50px;
  @media (max-width: $small-tablet) {
    left: calc(50% - 154.5px);
  }
  @media (max-width: $mobil) {
    left: calc(50% - 121px);
  }
  @media (max-width: $small-mobil) {
    margin: 15px 0;
  }
}
.glowable-button:active {
  border: $red-color 4px solid;
  color: $red-color;
}
[glow] .glowable-button {
  border: $blue-color 4px solid;
  background-color: darken($color: $blue-color, $amount: 47);
}
[glow] .download-icon {
  color: $blue-color;
}
