@mixin img-tablet-size {
  height: 490px;
  width: 490px;
  @media (max-width: $tablet) {
    height: 350px;
    width: 350px;
  }
  @media (max-width: $mobil) {
    height: 300px;
    width: 300px;
  }
  @media (max-width: $small-mobil) {
    height: 250px;
    width: 250px;
  }
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 4rem 0;
  @media (max-width: $small-tablet) {
    flex-direction: column;
    text-align: center;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 30%;
    @media (max-width: $tablet) {
      width: 25%;
    }
    @media (max-width: $small-tablet) {
      content: none;
    }
    background-color: $bg-color-dark;
    z-index: -1;
    height: 2000px;
  }

  & .banner-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @media (max-width: $small-tablet) {
      flex-direction: column;
      text-align: center;
    }
  }

  & h1 {
    @media (max-width: $small-tablet) {
      margin-top: 50px;
    }
  }
  & strong {
    font-family: 'Alegreya Sans SC';
    font-weight: 400;
    font-size: 4rem;
    @media (max-width: $small-tablet) {
      font-size: 2.9rem;
    }
  }

  & .image {
    position: relative;
    @include img-tablet-size;
    margin: 0 5vw 0 2.5vw;
  }
}

.img-maelle {
  background-color: $bg-color-dark;
  background-image: url(../assets/images/my-photo.webp);
  background-size: cover;
  border-radius: 50%;
  @include img-tablet-size;
  border: 18px solid $bg-color-dark;
  @media (max-width: $tablet) {
    border: 14px solid $bg-color-dark;
  }
}

.welcome-message {
  margin: 2rem 0;
  font-size: 1.1rem;
  width: 80%;
  background: rgba(255, 255, 255, 0.8);
    &::before {
    animation: shine ease-in-out 4s infinite reverse;
  }

  & a {
    color: #136693;
    text-decoration: none;
    font-weight: 600;
  }

  & p {
    margin: 0.2rem 0;
    font-size: 1.2rem;
    line-height: 1.5;
  }
}